<table class="table table-striped bg-light small">
  <thead>
    <th>Start</th>
    <th>End</th>
    <th>Headsign</th>
    <th style="width:100px">Access</th>
  </thead>
  <tbody>
    <% trips.each do |trip| %>
    <% next if trip['direction_id'] == direction %>
    <tr data-start_time="<%= trip['start_time'] %>" data-end_time="<%= trip['end_time'] %>" data-shape_gid="<%= trip['shape_gid'] %>">
      <td class="format-time"><%= trip['start_time'] %></td>
      <td class="format-time"><%= trip['end_time'] %></td>
      <td><%= trip['trip_headsign'] %></td>
      <td>
        <span class="fa-stack" data-toggle="tooltip" title="<%= accessibility_messages[:wheelchairs][trip['wheelchair_accessible'].to_i] %>">
          <i class="fas fa-wheelchair fa-stack-1x"></i>
          <% if (trip['wheelchair_accessible'] != "1") %>
          <i class="fas fa-ban fa-stack-1x" style="color:red"></i>
          <% end %>
        </span>
        <span class="fa-stack" data-toggle="tooltip" title="<%= accessibility_messages[:bikes][trip['bikes_allowed'].to_i] %>">
          <i class="fas fa-bicycle fa-stack-1x"></i>
          <% if (trip['bikes_allowed'] != "1") %>
          <i class="fas fa-ban  fa-stack-1x" style="color:red"></i>
          <% end %>
        </span>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
