<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>WeGo Bus Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <%= erb 'partials/meta_data'.to_sym %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
    <link rel="stylesheet" href="/assets/stylesheets/app.css" />

    <%= erb 'partials/google_analytics'.to_sym %>
  </head>
  <body class="app">

    <%= yield %>

    <script>
      var GTFS_BASE_URL = '<%= ENV['GTFS_BASE_URL'] %>'
    </script>
    <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap@4.6.1/dist/js/bootstrap.js" integrity="sha384-acUSOMj/FOTIzZ4qpiZXd/6avQezsTkra+wBPeduOyUIA5anC5YcLndJ3Wn4b4pF" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha384-4Dmmo81xejNChaqLOci80VhUcuEAD5pXpCtqtizmdgWEzdETh3zrJvzOhU4T79cN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/moment@2.29.3/moment.js" integrity="sha384-Jid/MRJ5T05nyGapKRhC3miLI6UQdehcSnGdXZyHUsfnR2UyCLFeuR7P0hXvbRYP" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet.marker.slideto@0.3.0/Leaflet.Marker.SlideTo.js" integrity="sha384-50J0IqhJQxjg/XSL/MO2nPsMpQaDiPD0J7H8R3wZQw2tnRC5RMsCXhSWv2Xbcyft" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/09b66f5b11.js" crossorigin="anonymous"></script>
    <script src="/assets/javascript/leaflet.rotatedMarker.js"></script>
    <script src="/assets/javascript/leaflet.textpath.js"></script>
    <script src="/assets/javascript/app.js"></script>
    <script src="/assets/javascript/bcycle.js"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
    <%= yield_content :page_js %>
  </body>
</html>
