<% content_for :title do %>Route <%= route['route_short_name'] %> - <%= route['route_long_name'] %><% end %>
<% content_for :description do %>Information for <%= route['route_short_name'] %> - <%= route['route_long_name'] %> route.<% end%>

<h2 id="route_header" class="p-3 rounded" style="background-color:#<%= route['route_color'] %>;color:#<%= route['route_text_color'] %>" data-route_color="<%= route['route_color'] %>" data-route_gid="<%= route['route_gid'] %>"><img src="/assets/images/<%= route['route_type'] %>.svg" style="height:1.1em;vertical-align:text-bottom;" /> <strong><%= route['route_short_name'] %></strong> - <%= route['route_long_name'] %></h2>

<div id="alert_container"></div>

<%= erb 'partials/alert'.to_sym %>

<div id="map" class="embed-responsive embed-responsive-21by9 border mb-5"></div>

<% if trips.count > 0 %>
<div class="row">
  <div class="col-md-6">
    <h4>Outbound</h4>
    <%= erb 'partials/time_table'.to_sym, locals: { trips: trips, direction: "1", accessibility_messages: accessibility_messages } %>
  </div>
  <div class="col-md-6">
    <h4>Inbound</h4>
    <%= erb 'partials/time_table'.to_sym, locals: { trips: trips, direction: "0", accessibility_messages: accessibility_messages } %>
  </div>
</div>
<% else %>
<div class="alert alert-info">No trips scheduled for today.</div>
<% end %>

<br />

<template id="attribution_template">
  &copy; <a href="http://www.openstreetmap.org/copyright" target="blank">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions" target="blank">CartoDB</a>; Data by <a href="http://www.wegotransit.com" target="blank">WeGo Public Transit</a>
</template>

<script>
  var GTFS_BASE_URL = '<%= ENV['GTFS_BASE_URL'] %>'
</script>

<script src="//unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="//unpkg.com/moment@2.22.2/moment.js"></script>
<script src="//unpkg.com/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="//unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
<script src="/assets/javascript/routes.js"></script>
