<% content_for :title do %>Routes<% end %>
<% content_for :description do %>Details for each WeGo route.<% end%>

<h1 class="sr-only">Routes</h1>

<div id="routesContainer"></div>

<% routes.each do |route| %>
<a href="/routes/<%= route['route_gid'] %>" class="d-block mb-1 p-2 rounded" style="background-color:#<%= route['route_color'] %>;color:#<%= route['route_text_color'] %>">
  <img src="/assets/images/<%= route['route_type'] %>.svg" style="v-align:middle;" width="24" height="24" /> <strong><%= route['route_short_name'] %></strong> - <%= route['route_long_name'] %>
</a>
<% end %>

<br />

<% content_for :page_js do %>
<script>
  var GTFS_BASE_URL = '<%= ENV['GTFS_BASE_URL'] %>'
</script>
<% end %>
